[submodule "seastar"]
	path = seastar
	url = git@github.com:syuu1228/seastar.git
	ignore = dirty
[submodule "swagger-ui"]
	path = swagger-ui
	url = git@github.com:scylladb/scylla-swagger-ui.git
	ignore = dirty
[submodule "libdeflate"]
	path = libdeflate
	url = git@github.com:scylladb/libdeflate.git
[submodule "abseil"]
	path = abseil
	url = git@github.com:scylladb/abseil-cpp.git
[submodule "scylla-jmx"]
	path = tools/jmx
	url = git@github.com:scylladb/scylla-jmx.git
[submodule "scylla-tools"]
	path = tools/java
	url = git@github.com:scylladb/scylla-tools-java.git
[submodule "scylla-python3"]
	path = tools/python3
	url = git@github.com:scylladb/scylla-python3.git
